@media(max-with){
    .toanbo{
        width: 390px;
    }
    body{
        width: 390px;
    }
    .toanbo>.logo>img{
        width: 390px;
        height: 10px;
       
    }
    .menu>ul>li{
        display: inline;
    }
    .btn>form>input{
        width: 20ppx;
        height: 50px;
    }
}